@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  background-color: #aff;
  font-family: "Varela Round", sans-serif;
  font-size: xx-large;
}

img {
  opacity: 0.6;
  max-width: 200px;
  border-radius: 10px;
}

img:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: large;
  }
  p {
    max-width: 70%;
  }
}
