@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
    background-image: linear-gradient(
        to bottom right,
        white,
        white,
        white,
        #aff,
        #aff
    );
    background-attachment: fixed;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: x-large;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
}
h2 {
    font-family: "IBM Plex Sans", sans-serif;
}

.Card {
    margin: 15px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 20px;
}

img {
    opacity: 0.6;
    max-width: 200px;
    border: 1px solid grey;
    border-radius: 10px;
}

img:hover {
    opacity: 1;
}

@media only screen and (min-width: 720px) {
    body {
        font-size: large;
    }
    #maincopy {
        max-width: 70%;
    }
    .Card {
        max-width: 70%;
    }
}
