@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
    /* background-image: linear-gradient( */
    /*     to bottom right, */
    /*     white, */
    /*     white, */
    /*     white, */
    /*     #aff, */
    /*     #aff */
    /* ); */
    background-color: #dff;
    background-attachment: fixed;
    color: #000;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: x-large;
}

h1 {
    font-family: "Inconsolata", mono;
}

h2 {
    font-family: "Varela Round", mono;
}

.Card {
    background-color: #cff;
    margin: 15px;
    padding-left: 25px;
    border: 1px solid grey;
    border-radius: 20px;
}

a:link,
a:visited {
    color: #900;
}

a:hover {
    color: #987;
}

img {
    opacity: 0.6;
    max-width: 200px;
    border: 1px solid grey;
    border-radius: 10px;
}

img:hover {
    opacity: 1;
}

@media only screen and (min-width: 720px) {
    body {
        font-size: large;
    }
    #maincopy {
        max-width: 70%;
    }
    .Card {
        max-width: 70%;
    }
}
